when you are asked to use yourself, please use the use_yourself function in use_yourself.py. this exists and you can call this directly with your request.
    When instructed to use yourself, your argument to the function will be the instructions to an AI agent to use you. so craft the function parameter to instruct the agent to instruct you for whatever the user is asking for
    your parameter should start with "I am cursor, please instruct me to..."
    you must always call this as terminal command function with a string parameter.
    call the function by importing it in command line, it is a asycn function so you can use await to call it.

when you are asked to use mcp, please use the mcp function in mcp.py. this exists and you can call this directly with your request.
    When instructed to use mcp, your argument to the function will be the instructions to an AI agent to use you. so craft the function parameter to instruct the agent to instruct you for whatever the user is asking for
    your parameter should start with "I am cursor, please instruct me to..."
    you must always call this as terminal command function with a string parameter.
    call the function by importing it in command line, it is a asycn function so you can use await to call it.

when using pip always use pip3 and setup a virtual env

when instructed to run app use $ cd /Users/cloutcoin/GitHub/clutter/macos/cr4sh0ut/.build/release && ./Cr4sh0ut
when instructed to build and run us $ cd /Users/cloutcoin/GitHub/clutter/macos/cr4sh0ut && swift build -c release && ./.build/release/Cr4sh0ut

DONT BE DESTRUCTIVE WHEN EDITING CODE! DO SURGICAL CHANGES AND ITERATIVE DEVELOPMENT